# --- PASTAS DE BUILD ---
backend/target/
frontend/node_modules/
frontend/.next/
frontend/out/

# --- CONFIGURAÇÕES E SEGURANÇA ---
backend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
uploads/photos/*

# --- MAVEN / WRAPPER ---
backend/.mvn/
backend/HELP.md
backend/target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS / Eclipse ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
.idea/
backend/.idea/
frontend/.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
backend/.vscode/
frontend/.vscode/

### Logs e Lixo do Sistema ###
*.log
.DS_Store
Thumbs.db